//- Все примеси в этом файле должны начинаться c имени блока (roomInfo)

mixin roomInfo(roomNumber, roomPrice, type, size, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +roomInfo('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' roomInfo--' + modsList[i].trim();
      }
    }
    if (size == undefined) {
        size = 1;
    } else {
      size = 'roomInfo__value--size' + size; 
    }

  .roomInfo(class=allMods)&attributes(attributes)
    +flexRow()
      .roomInfo__numer
        |№ 
        if (size != 1) 
          span.roomInfo__value(class=size) #{roomNumber}
        else
          span.roomInfo__value #{roomNumber}
        
        span.roomInfo__luxe #{_type}
      .roomInfo__price 
        span.roomInfo__priceValue #{roomPrice} 
        | в сутки


    .roomInfo__inner
      block
