//- Все примеси в этом файле должны начинаться c имени блока (stars)

mixin stars(star, name, readOnly, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +stars('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' stars--' + modsList[i].trim();
      }
    }

    let list = [{status, name},{status, name},{status, name},{status, name},{status, name}];

    for (let i = 0; i<5 ; i++) {
      list[+star-1].status = true;

      if (i < +star) {
        list[i].name = 'star' + i;
      } else {
        list[i].status = false;
      }
    }


  .stars(class=allMods)&attributes(attributes)
    if (list.length !== 0)
      each i in list
        label.stars__label
          if (readOnly != undefined)
            input(type='radio' checked=i.status  name=name disabled)
          else
            input(type='radio' checked=i.status  name=name )
    block
