//- Все примеси в этом файле должны начинаться c имени блока (checkBox)

mixin checkBox(name, text, status, title, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +checkBox('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' checkBox--' + modsList[i].trim();
      }
    }

  .checkBox(class=allMods)&attributes(attributes)
    label
      input(type='checkbox' checked=status name= name)
      if (typeof(title) !== 'undefined') 
        .checkBox__text.checkBox__text--fz12 
          span #{title} 
          |#{text}
      else
        .checkBox__text #{text}
      
    block
