//- Все примеси в этом файле должны начинаться c имени блока (footer)

mixin footer(text, menuLists, subscribe, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
        menu_lists - [{} , {} , {}] отдельный объек со списком меню
  //- Вызов:
        +footer('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' footer--' + modsList[i].trim();
      }
    }

  .footer(class=allMods)&attributes(attributes)
    if (typeof(menuLists) != 'undefined' && menuLists != '' )
      .footer__inner
        .footer__descr
          +toxin(class = 'footer__toxin')
          |#{text}

        for menus,index in menuLists
          .footer__items
            h3 #{menus.title}
            ul.footer__list
              for item in menus.list
                li.footer__item
                  a(href=item.href) #{item.text}

        if (typeof(subscribe) != 'undefined' && subscribe != '' )
          .footer__subscr
            h3 #{subscribe.header}
            p #{subscribe.text}
            +textField({
                    name: 'footer_subscr',
                    type: 'subscription',
                    placeholder : subscribe.placeholder
                    },' parentWide')

      hr.footer__hr
      .footer__sub Copyright © 2018 Toxin UI Kit. All rights reserved.
        .footer__icons
          +icon('img/icons/twitter.svg')(class = 'footer__icon')
          +icon('img/icons/facebook.svg')(class = 'footer__icon')
          +icon('img/icons/instagram.svg')(class = 'footer__icon')
    else
      .footer__inner.footer__inner--minimal
        .footer__descr.footer__descr--minimal
          +toxin(class = 'footer__toxin footer__toxin--center')
          |#{text}
        .footer__icons
          +icon('img/icons/twitter.svg')(class = 'footer__icon footer__icon--noMargin')
          +icon('img/icons/facebook.svg')(class = 'footer__icon')
          +icon('img/icons/instagram.svg')(class = 'footer__icon')

    block
