//- Все примеси в этом файле должны начинаться c имени блока (_checkBox)

mixin _checkBox(_name, text, _status, _title, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +_checkBox('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _checkBox--' + modsList[i].trim();
      }
    }

  ._checkBox(class=allMods)&attributes(attributes)
    label
      input(type='checkbox' checked=_status name= _name)
      if (typeof(_title) !== 'undefined') 
        ._checkBox__text._checkBox__text--fz12 
          span #{_title} 
          |#{text}
      else
        ._checkBox__text #{text}
      
    block
