//- Все примеси в этом файле должны начинаться c имени блока (header)

mixin header(menuList, buttons, loggedName, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' header--' + modsList[i].trim();
      }
    }
    
    if (typeof(buttons) == 'undefined') {
      var buttons = {login :'login', register :'register'};
    }
    let workListofHeaderMenu = [],
        active = '';

    if (menuList == '') {
      workListofHeaderMenu = [
        {
          item : 'Home',
          selected : true
        },
        {
          item : 'About Us'
        },
        {
          item : 'Services',
          submenu : [{item: 'temp'}] 
        },
        {
          item : 'Careers'
        },
        {
          item : 'News'
        },
        {
          item : 'Documentation'
        }
        ];          
    } else {
      workListofHeaderMenu = menuList
    }

  header.header(class=allMods)&attributes(attributes)
    +toxin
    nav.header__nav
      ul.header__mainMenu
        each menuItem in workListofHeaderMenu
          - 
            if (typeof(menuItem.selected) != 'undefined' && menuItem.selected == true) {
              active = ' header__menuItem--active '
            } else {
              active = ''
            }
          if (typeof(menuItem.submenu) != 'undefined')
            li.header__menuItem.header__menuItem--submenu(class=active) #{menuItem.item}
              .header__downArrow
          else
            li.header__menuItem(class=active) 
              a.header__link(href='#') #{menuItem.item}
      .header__left
        if (typeof(loggedName) != 'undefined' && loggedName !='')
          .header__logged #{loggedName} 
          
        else
          +btn(buttons.login, 'bordered, midi,noMB')
          +btn(buttons.register, 'colored, midi,noMargin, autoSize')
    block
