//- Все примеси в этом файле должны начинаться c имени блока (_textField)

mixin _textField(options,mods)
  //- mixin _textField(text, name, placeholder, type='TF', state = '', value = '',  mods)

  //- Принимает:
        {
  //-   text    {string} - текст
  //-   name    {string} - значение тега name
  //-   placeholder  {string}
  //-   state  {string} - текс второй метки справа
  //-   type    {string} - тип инпута
  //-   value    {string} - дефолтное значение
        dropList {
          {item : 'value 1', name: 'text of list 1' },
          {'item' : 'value 2', name: 'text of list 2' }
          
        }
        dropBoxBtn {bool }

        mask : '99.99.9999'
  //-   mods    {string} - список модификаторов
        }
  //- Вызов:
        +_textField({
          text: 'Текст',
          name: 'name'
          })

  -
    // список модификаторов
    let allMods = ''
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',')
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _textField--' + modsList[i].trim()
      }
    }

    let _type = 'TF'
      _placeHolder ='ДД.ММ.ГГГГ'
      _dropList = []

    if (options.type !== undefined && options.type) 
      _type = options.type

    if (typeof(options.dropDown) !== 'undefined' && options.dropDown){
       _dropList = options.dropDown;
       _type = 'dropDown'
    }
  



    
    
  ._textField(class=allMods)
    label._textField__info #{options.text}
    label._textField__info._textField__info--state #{options.state}  
    case _type
      when 'subscription'
        ._textField__rigthArrow
        input._textField__input(name = options.name, placeholder= 'Email' , value = options.value)
      when 'dropDown'
        ._textField__downArrow
        input._textField__input._textField__input--dark75(name = options.name, placeholder= options.placeholder , value =options.value)&attributes(attributes)
        ._textField__overlay
          if (_dropList.length !== 0)
            for i in _dropList
              ._textField__overlayItems
                span #{i.name} 
                ._textField__overlayItem
                  ._textField__Btn(data-minus) -
                  ._textField__value #{i.item}
                  ._textField__Btn(data-plus) +
            if options.dropBoxBtn
              ._textField__overlayItems
                +btn('Очистить', 'cancel, mt16pr2')
                +btn('Применить','noMR , mt16pr2')

      when 'maskDate'
        input._textField__input(name = options.name, placeholder= _placeHolder , value = options.value, data-date='maskDate' max = '2050-12-31' )
      default
        input._textField__input(name = options.name, placeholder= options.placeholder , value = options.value)

    block

